/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.inter-regular-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
* {
  margin: 0;
  padding: 0;
}

.display-flex {
  display: flex;
}

.text-primary {
  color: rgba(255, 255, 255, 1);
}

.text-secondary {
  color: rgba(255, 255, 255, 0.5);
}

.text-tertiary {
  color: rgba(230, 83, 60, 1);
}

.btn-primary {
  background-color: rgba(230, 83, 60, 1);
  border: none;
  border-radius: 46px;
  font-weight: 600;
  padding: 8px 20px;
  font-size: 1.125rem;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

.banner-title,
.banner-description {
  margin-bottom: 28px;
}

/*header styles*/
.bg-light-black {
  background-image: linear-gradient(to bottom, #000000, #191919, #2b2b2b, #3e3e3e, #525252, #525252, #525252, #525252, #3e3e3e, #2b2b2b, #191919, #000000);
}

/* navbar related styles */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  margin-bottom: 32px;
}

.navbar>.brand {
  font-weight: 800;
  font-size: 2.25rem;
  margin-top: 50px;
}

.nav-links {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  margin-top: 50px;
  padding: 4px 4px;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 47px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.125rem;
}

.nav-icon {
  display: none;
}

/* banner related styles */
.banner {
  align-items: center;
  justify-content: space-around;
  gap: 130px;
}

.banner-content {
  max-width: 520px;
  margin-top: 80px;
}

.banner-title {
  font-weight: 900;
  font-size: 4.875rem;
}

.banner-title>span {
  font-family: 'Miama', sans-serif;
  font-weight: 400;
}

.banner>.banner-content .btn-primary {
  padding: 16px 46.5px;
  border-radius: 42px;
  margin-right: 14px;
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 42px;
  font-weight: 600;
  padding: 16px 48px;
  font-size: 1.125rem;
}

.banner-image-content {
  position: relative;
  margin-top: 32px;
}

.banner-image {
  width: 100%;
}

.card-1 {
  border: none;
  border-radius: 12px;
  background-color: rgba(48, 48, 48, 0.54);
  padding: 20px 23px;
  position: absolute;
  left: -100px;
  top: 440px;
  gap: 12px;
  align-items: center;
  max-width: 200px;
  max-height: 96px;
  justify-content: center;
}

.card-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(230, 83, 60, 1);
  border: none;
  padding: 7px;
}

.card-image {
  width: 25px;
}

.card-number-1 {
  font-weight: 900;
  font-size: 1.5rem;
}

.card-title-1 {
  font-size: 1rem;
  color: rgba(239, 237, 232, 0.65);
}

.card-2 {
  border: none;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 17px 23px;
  position: absolute;
  left: 220px;
  top: 120px;
  max-width: 193px;
  max-height: 98px;
  white-space: nowrap;
}

.card-number-2 {
  font-weight: 900;
  font-size: 2.5rem;
}

.card-title-2 {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.8125rem;
}

/* main styles */
main {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #000000;
}

/* habits section related styles*/
.habits-container {
  padding-top: 100px;
  margin-bottom: 100px;
}

.habits-content-container {
  justify-content: center;
  align-items: center;
  margin-bottom: 58px;
}

.habits-content {
  max-width: 640px;
  text-align: center;
}

.habits-title {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 14px;
}

.habits-description {
  font-size: 0.875rem;
}

.habits-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 198px;
  gap: 40px;
}

.habits-card {
  max-width: 231px;
  text-align: center;
}

.habits-card-image {
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  margin-bottom: 30px;
}

.habits-card-title {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 6px;
}

.habits-card-description {
  font-size: 0.875rem;
}

/* run section related styles */
.run-container{
  background-color: rgba(34, 34, 34, 1);
  max-width: 1060px;
  margin: 0 190px;
  border-radius: 18px;
  justify-content: space-around;
  align-items: center;
  gap: 165px;
}
.run-content{
  max-width: 443px;
  margin: 41px 0 40px 54px;
}
.run-content-title{
font-weight: 900;
font-size: 3rem;
margin-bottom: 14px;
}
.run-content-description{
font-size: 0.875rem;
margin-bottom: 34px;
}
.run-container > .run-content .btn-primary{
  padding: 16px 71.5px;
}
.run-container-image{
  max-width: 366px;
  margin: 30px 32px 29px 0;
}
.run-image-content{
  width: 366px;
  height: 312px;
  border-radius: 18px;
  object-fit: none;
object-position: 67% 30%;
}
/* responsive media query */

/* mobile specific media query */
@media screen and (max-width: 576px) {

  .banner,
  .habits-content-container,
  .run-container {
    flex-direction: column;
  }

  .navbar {
    padding: 0;
    margin: 0 20px;
  }

  .nav-links {
    border: none;
  }

  .navbar>.nav-links .nav-link {
    display: none;
  }

  .nav-icon {
    display: flex;
    width: 13%;
  }

  .banner {
    gap: 48px;
    margin: 0 20px;
  }

  .banner-content-btn-container {
    display: flex;
    gap: 14px;
  }

  .banner>.banner-content .btn-primary {
    margin-right: 0px;
    padding: 16px 41px;
    white-space: nowrap;
  }

  .btn-primary-title {
    display: none;
  }

  .btn-secondary {
    padding: 16px 20px;
    white-space: nowrap;
  }

  .banner-image-content>.card-1 {
    left: 0px;
    top: 250px;
  }

  .banner-image-content>.card-2 {
    left: 185px;
    top: 50px;
  }

  .habits-content-container {
    margin: 0 20px 58px;
    padding: 0 10px;
  }

  .habits-card-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin: 0 20px;
  }
  .run-container{
    margin: 0 20px;
    padding: 31px 33px 35px;
    gap: 31px;
  }
  .run-content{
    margin: 0; 
  }
  .run-content-btn{
    text-align: center;
  }
  .run-container > .run-content .btn-primary{
    padding: 16px 103px;
    white-space: nowrap;
  }
  .run-container-image{
    margin: 0;
  }
  .run-image-content{
    width: 287px;
    height: 170px;
    object-fit: cover;
  }
}